<VirtualHost *:80>
	ServerAdmin webmaster@localhost
	ServerName {{ FQDN }}

	DocumentRoot {{ PATH }}/htdocs/
	<Directory {{ PATH }}/htdocs/>
		Options FollowSymLinks
		AllowOverride All
	  Require all granted
	</Directory>

	<IfModule mod_deflate.c>
		SetOutputFilter DEFLATE
		SetEnvIfNoCase Request_URI \.(?:gif|jpg|png|ico|zip|gz|mp4|flv)$ no-gzip
	</IfModule>

	ErrorLog {{ LOG_PATH }}/error_{{ SITE_FOLDER }}.log

	# Possible values include: debug, info, notice, warn, error, crit,
	# alert, emerg.
	LogLevel warn

	CustomLog {{ LOG_PATH }}/access_{{ SITE_FOLDER }}.log combined
</VirtualHost>

<IfModule mod_ssl.c>
<VirtualHost _default_:443>
	ServerAdmin webmaster@localhost
	ServerName {{ FQDN }}

	DocumentRoot {{ PATH }}/htdocs/
	<Directory {{ PATH }}/htdocs>
		Options FollowSymLinks
		AllowOverride All
    Require all granted
	</Directory>

	<IfModule mod_deflate.c>
		SetOutputFilter DEFLATE
		SetEnvIfNoCase Request_URI \.(?:gif|jpg|png|ico|zip|gz|mp4|flv)$ no-gzip
	</IfModule>

	ErrorLog {{ LOG_PATH }}/error_{{ SITE_FOLDER }}.log

	# Possible values include: debug, info, notice, warn, error, crit,
	# alert, emerg.
	LogLevel warn

	CustomLog {{ LOG_PATH }}/ssl_access_{{ SITE_FOLDER }}.log combined

	#   SSL Engine Switch:
	#   Enable/Disable SSL for this virtual host.
	SSLEngine on

	SSLCertificateFile    /etc/ssl/certs/ssl-cert-snakeoil.pem
	SSLCertificateKeyFile /etc/ssl/private/ssl-cert-snakeoil.key

	<FilesMatch "\.(cgi|shtml|phtml|php)$">
		SSLOptions +StdEnvVars
	</FilesMatch>
	<Directory /usr/lib/cgi-bin>
		SSLOptions +StdEnvVars
	</Directory>

	BrowserMatch "MSIE [2-6]" \
		nokeepalive ssl-unclean-shutdown \
		downgrade-1.0 force-response-1.0

	# MSIE 7 and newer should be able to use keepalive
	BrowserMatch "MSIE [17-9]" ssl-unclean-shutdown
</VirtualHost>
</IfModule>
